<div class="row">
  <div class="card min-vh-100">
    <div class="card-header">
        <div class="col-sm-6">
            <input
            class="form-control"
            id="disabledInput"
            type="text"
            placeholder="Type your address here"
          />
        </div>
       <div class="col-sm-4">
        toggle
       </div>
        
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">
        With supporting text below as a natural lead-in to additional content.
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
